.NoteForm {
    display: flex;
    margin-left: auto;
    margin-right: auto;

    background-color:#2B7A78;
    border: 1px solid #17252A;
    border-radius: 5px;
    padding: 10px;
    justify-content: center;
}

.NoteContainer {
    display: inline-block;
    vertical-align: middle;
}

.NoteSavedNickname {
    display: inline-block;
}

.NoteSavedPassword {
    display: inline-block;
}

.NoteParamsText {
    margin-top: 1vmin;
    display: inline-block;

    font-family: 'Yanone Kaffeesatz', sans-serif;
    color:#FEFFFF;
    font-size: 1.2vmax;
}

input[type=checkbox]{
    transform: scale(1.5);
}

.SaveData {
    margin-top: 1vmin;
    display: inline-block;
    color: #FEFFFF;
    font-size: 0.8vmax;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    width: calc((15vw + 15vh) / 2);
    height: calc((2.0vw + 2.0vh) / 2);
    
    border-width: 1px;
    background-color: #17252A;
    border-color: #FEFFFF;
    border-radius: 0.5vmin;
}

.NoteTextHolder {
    background-color: #DEF2F1;
    color: #17252A;
    border-radius: 0.5vmin;
    border-color: #17252A;
    border-width: 1px;
    width: calc((14vw + 14vh) / 2);
}

.NoteBackButtonLink {
    font-size: 2.5vmax;
    font-weight: 800;
    color:#FEFFFF;
    display: flex;
    justify-content: space-evenly;  
    text-decoration: none;

}

.NoteBackButton {
    /* Размер кнопки */
    width: calc((15vw + 15vh) / 2);
    height: calc((5vw + 5vh) / 2);

    /* Курсор */
    cursor: pointer;

    /* Внешний Вид */
    background-color: #17252A; /* Цвет фона */
    border: none; /* Оконтовка */
    border-radius: 2vmin; /* Радиус Округления кнопок */
    transition: transform 0.3s, background-color 0.3s !important; /* Расширение кнопки */

    /* Отображение */
    display: flex;
    flex-direction: column;
    padding: calc((2vw + 2vh) / 2);
    margin: 3vmin;
    align-items: center;
    justify-content: center;
    
}

.NoteBackButton:hover {
    transform: scale(1.05); /* Анимация */
}

.NoteBackTextSettings {
    font-size: 1.5vmax;
    font-weight: 800;
    color:#FEFFFF;
    display: flex;
    justify-content: space-evenly;
    
}