{% extends "base.html" %}

{% block content1 %}
<div class="TextHeader">{{ nickname }}: Пароль 4</div>
{% endblock %}

{% block content2 %}
<div class="NoteContainer">
    <div class="NoteForm">
        <form class="NoteFormSettings" name="NoteFormFormMain" method="post">
            <div class="NoteSavedNickname">
                <label class="NoteParamsText">Ваш Логин:</label>
                <br>
                <input class="NoteTextHolder" type="text" name="Username" placeholder="Введите Ваш Логин" value={{Username}}>
            </div>
            <br>
            <div class="NoteSavedPassword">
                <label class="NoteParamsText">Ваш Пароль:</label>
                <br>
                <input class="NoteTextHolder" type="text" name="Password" placeholder="Введите Ваш Пароль" value={{Password}}>
            </div>
            <br>
           <input type="submit" name="SaveData" class="SaveData" value="Сохранить">
        </form>
        
    </div>
    <a class="NoteBackButtonLink" href="/notes">
        <button class="NoteBackButton" name="NoteButtonBack">
            <h1 class="NoteBackTextSettings">НАЗАД</h1>
        </button>
    </a>
    
</div>
{% endblock %}