{% extends "base.html" %}

{% block content1 %}
<div class="TextHeader">Генератор Паролей</div>
{% endblock %}


{% block content2 %}
<a class="GeneratorLinkSettings" href="generator">
<button class="GeneratorButton" name="ButtonGenerator">
    <h1 class="GeneratorTextSettings">ГЕНЕРАТОР</h1>
</button>
</a>

<a class="NotesLinkSettings" href="passwords">
    <button class="NotesButton" name="NotesGenerator">
        <h1 class="NotesTextSettings">ЗАМЕТКИ</h1>
    </button>
</a>
{% endblock %}